body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 5px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.social-icon {
    width: 30px;
    height: 30px;
}